<!DOCTYPE html>
<html lang="en">
    <%- include('partial/head') %>
    <body>
        <%- include('partial/navbar') %>
        <div class="container-fluid">
            <h1 class="text-center">User Register</h1>
            <a class="btn btn-primary align-center" href="/add">Register</a>
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>